$font-family: 'Poppins', sans-serif;

:root {
  --primary_blue_50: #eef3f7;
  --primary_blue_100: #c9dae5;
  --primary_blue_200: #afc9d9;
  --primary_blue_300: #8ab0c7;
  --primary_blue_400: #73a1bd;
  --primary_blue_500: #5089ac;
  --primary_blue_600: #497d9d;
  --primary_blue_700: #39617a;
  --primary_blue_800: #2c4b5f;
  --primary_blue_900: #223a48;

  --secondary_blue_50: #e9edf1;
  --secondary_blue_100: #bbc8d3;
  --secondary_blue_200: #9aadbd;
  --secondary_blue_300: #6c889f;
  --secondary_blue_400: #4f718d;
  --secondary_blue_500: #234d70;
  --secondary_blue_600: #204666;
  --secondary_blue_700: #193750;
  --secondary_blue_800: #132a3e;
  --secondary_blue_900: #0f202f;

  --white: #ffffff;
  --black: #000000;

  --gray_50: #f9fafb;
  --gray_100: #f3f4f6;
  --gray_200: #e5e7eb;
  --gray_300: #d2d6db;
  --gray_400: #9da4ae;
  --gray_500: #6c737f;
  --gray_600: #4d5761;
  --gray_700: #384250;
  --gray_800: #1f2a37;
  --gray_900: #111927;

  --error_10: #ffecee;
  --error_20: #e7849c;
  --error_50: #fef3f2;
  --error_100: #fee4e2;
  --error_200: #fecdca;
  --error_300: #fda29b;
  --error_400: #f97066;
  --error_500: #f04438;
  --error_600: #d92d20;
  --error_700: #b42318;
  --error_800: #912018;
  --error_900: #7a271a;

  --warning_50: #fffaeb;
  --warning_100: #fef0c7;
  --warning_200: #fedf89;
  --warning_300: #fec84b;
  --warning_400: #fdb022;
  --warning_500: #f79009;
  --warning_600: #dc6803;
  --warning_700: #b54708;
  --warning_800: #93370d;
  --warning_900: #7a2e0e;

  --success_50: #ecfdf3;
  --success_100: #d1fadf;
  --success_200: #a6f4c5;
  --success_300: #6ce9a6;
  --success_400: #32d583;
  --success_500: #12b76a;
  --success_600: #039855;
  --success_700: #027a48;
  --success_800: #05603a;
  --success_900: #054f31;

  --linking: #6194fe;
  --blackLight: #292d32;
  --border: #e6e5f5;
  --seprator_border: #d8d8d8;
  --seprator: #eeeeee;
  --highLighted: #f6f9fb;
  --gray_text: #24272b;
  --light_gray: #24272b0d;
  --light_gray_2: #f1f6fa;
  --heading: #222222;
}
