@use "minxins";

@keyframes slideDown {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slowHide {
  from {
    transform: translateY(0);
    height: auto;
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    height: 0;
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.4;
  }
}
@keyframes fadeOutFull {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeInFull {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeOutSection {
  animation: fadeOut 0.5s ease-in forwards;
}
.table-container {
  max-width: 100%; /* scrollable horizontally */
  // padding-bottom: 100px;
  // overflow-x: auto;
  position: relative;
  .MuiAccordionSummary-root {
    padding: 0;
  }
  .MuiAccordionDetails-root {
    @include minxins.tab-lg {
      padding: 8px 0 16px 10px;
    }
  }
}
table {
  &.order_set_table {
    thead {
      tr {
        th {
          text-align: left;
          min-width: 148px;
          max-width: 148px;
          width: 148px;
          word-wrap: break-word;
          white-space: nowrap;
          @include minxins.tab-lg {
            min-width: auto;
            max-width: max-content;
            width: auto;
            white-space: normal;
            word-break: break-all;
          }
          &:nth-child(1),
          &:nth-child(6) {
            min-width: 200px;
            max-width: 200px;
            width: 200px;
            @include minxins.tab-lg {
              min-width: auto;
              max-width: max-content;
              width: auto;
            }
          }
          &:nth-child(2),
          &:nth-child(7) {
            min-width: 130px;
            max-width: 130px;
            width: 130px;
            @include minxins.tab-lg {
              min-width: auto;
              max-width: max-content;
              width: auto;
            }
          }
          &:nth-child(3),
          &:nth-child(4),
          &:nth-child(5),
          &:nth-child(8) {
            min-width: 90px;
            max-width: 90px;
            width: 90px;
            @include minxins.tab-lg {
              min-width: 50px;
              max-width: 50px;
              width: 50px;
              // min-width: auto;
              // max-width: max-content;
              // width: auto;
            }
          }
          &:nth-child(2),
          &:nth-child(3),
          &:nth-child(4),
          &:nth-child(5),
          &:nth-child(7),
          &:nth-child(8) {
            text-align: center;
          }

          &:last-child {
            text-align: center;
            min-width: 90px !important;
            max-width: 90px !important;
            width: 90px !important;
            @include minxins.tab-lg {
              min-width: 90px !important;
              max-width: 90px !important;
              width: 90px !important;
            }
            @include minxins.mobile-sm {
              min-width: 60px !important;
              max-width: 60px !important;
              width: 60px !important;
            }
          }
        }
      }
    }
    tbody {
      tr {
        td {
          text-align: left;
          min-width: 148px;
          max-width: 148px;
          width: 148px;
          @include minxins.tab-lg {
            min-width: auto;
            max-width: max-content;
            width: auto;
          }
          word-wrap: break-word;
          white-space: nowrap;
          &:nth-child(1),
          &:nth-child(6) {
            min-width: 200px;
            max-width: 200px;
            width: 200px;
            @include minxins.tab-lg {
              min-width: auto;
              max-width: max-content;
              width: auto;
            }
          }
          &:nth-child(2),
          &:nth-child(7) {
            min-width: 130px;
            max-width: 130px;
            width: 130px;
            @include minxins.tab-lg {
              min-width: auto;
              max-width: max-content;
              width: auto;
            }
          }
          &:nth-child(3),
          &:nth-child(4),
          &:nth-child(5),
          &:nth-child(8) {
            min-width: 90px;
            max-width: 90px;
            width: 90px;
            @include minxins.tab-lg {
              min-width: 50px;
              max-width: 50px;
              width: 50px;
            }
            // @include minxins.tab-lg {
            //   min-width: auto;
            //   max-width: max-content;
            //   width: auto;
            // }
          }
          &:nth-child(2),
          &:nth-child(3),
          &:nth-child(4),
          &:nth-child(5),
          &:nth-child(7),
          &:nth-child(8) {
            text-align: center;
          }
          &:last-child {
            text-align: center;
            min-width: 90px !important;
            max-width: 90px !important;
            width: 960px !important;
            @include minxins.tab-lg {
              min-width: auto !important;
              max-width: max-content !important;
              width: auto !important;
            }
            @include minxins.mobile-sm {
              min-width: 60px !important;
              max-width: 60px !important;
              width: 60px !important;
            }
            .tableActions {
              justify-content: center;
            }
          }
        }
      }
    }
  }
  &.line_item_table {
    thead {
      tr {
        th {
          text-align: left;
          min-width: 148px;
          max-width: 148px;
          width: 148px;
          word-wrap: break-word;
          white-space: nowrap;
          @include minxins.tab-lg {
            min-width: auto;
            max-width: max-content;
            width: auto;
            white-space: normal;
            word-break: break-all;
          }
          &:nth-child(1) {
            min-width: 240px;
            max-width: 240px;
            width: 240px;
            @include minxins.tab-lg {
              min-width: auto;
              max-width: max-content;
              width: auto;
            }
          }
          &:nth-child(2) {
            min-width: 100px;
            max-width: 100px;
            width: 100px;
            @include minxins.tab-lg {
              min-width: auto;
              max-width: max-content;
              width: auto;
            }
          }
          &:nth-child(4) {
            min-width: 80px;
            max-width: 80px;
            width: 80px;
            @include minxins.tab-lg {
              min-width: auto;
              max-width: max-content;
              width: auto;
            }
          }
          &:nth-child(3),
          &:nth-child(5) {
            min-width: 200px;
            max-width: 200px;
            width: 200px;
            @include minxins.tab-lg {
              min-width: auto;
              max-width: max-content;
              width: auto;
            }
          }
          &:nth-child(2),
          &:nth-child(3),
          &:nth-child(4),
          &:nth-child(6) {
            text-align: center;
          }

          &:last-child {
            text-align: center;
            min-width: 60px !important;
            max-width: 60px !important;
            width: 60px !important;
            @include minxins.tab-lg {
              min-width: auto !important;
              max-width: max-content !important;
              width: auto !important;
            }
            @include minxins.mobile-sm {
              min-width: 50px !important;
              max-width: 50px !important;
              width: 50px !important;
            }
          }
        }
      }
    }
    tbody {
      tr {
        td {
          text-align: left;
          min-width: 148px;
          max-width: 148px;
          width: 148px;
          padding: 8px 12px;
          word-wrap: break-word;
          white-space: nowrap;
          @include minxins.tab-lg {
            min-width: auto;
            max-width: max-content;
            width: auto;
            word-break: break-all;
            white-space: normal;
            padding: 2px 4px;
          }
          &:nth-child(1) {
            min-width: 240px;
            max-width: 240px;
            width: 240px;
            @include minxins.tab-lg {
              min-width: auto;
              max-width: max-content;
              width: auto;
            }
          }
          &:nth-child(2) {
            min-width: 100px;
            max-width: 100px;
            width: 100px;
            @include minxins.tab-lg {
              min-width: auto;
              max-width: max-content;
              width: auto;
            }
          }
          &:nth-child(4) {
            min-width: 80px;
            max-width: 80px;
            width: 80px;
            @include minxins.tab-lg {
              min-width: auto;
              max-width: max-content;
              width: auto;
            }
          }
          &:nth-child(3),
          &:nth-child(5) {
            min-width: 200px;
            max-width: 200px;
            width: 200px;
            @include minxins.tab-lg {
              min-width: auto;
              max-width: max-content;
              width: auto;
            }
          }
          &:nth-child(2),
          &:nth-child(3),
          &:nth-child(4),
          &:nth-child(6) {
            text-align: center;
          }
          &:last-child {
            text-align: center;
            min-width: 148px !important;
            max-width: 148px !important;
            width: 148px !important;
            @include minxins.tab-lg {
              min-width: auto !important;
              max-width: max-content !important;
              width: auto !important;
            }
            @include minxins.mobile-sm {
              min-width: 50px !important;
              max-width: 50px !important;
              width: 50px !important;
            }
            .tableActions {
              justify-content: center;
            }
          }
        }
      }
    }
  }
}
table {
  @include minxins.mobile-sm {
    table-layout: fixed;
  }
  border-collapse: collapse;
  width: 100%;
  min-width: 700px;
  // @include minxins.mobile-sm {
  //   min-width: auto;
  // }
}
.sticky-row {
  position: sticky;
  background: var(--white);
  z-index: 5;
}
th,
td {
  border: 0;
  text-align: center;
  background: var(--white);
  vertical-align: middle;
}
.th_heading {
  tr {
    th {
      padding: 12px 8px;
      @include minxins.tab-lg {
        padding: 8px 2px;
      }
      background: #f3f4f6;
    }
  }
}
.table-container thead {
  // position: sticky;
  top: 0;
  &.accord_row {
    // top: 100px;
    .MuiAccordion-region {
      table {
        thead {
          position: sticky;
          // top: 0;
          // z-index: 8;
          // top: 65px;
          top: 145px;
          z-index: 9;
          &.th_headingScroll {
            // top: 150px;
            // top: 226px;
            top: 300px;
            @include minxins.tab-lg {
              top: 228px;
            }
            @include minxins.mobile-sm {
              top: 226px;
            }
          }
        }
      }
    }
  }
  &.common_accord_row {
    position: sticky;
    width: 100%;
    height: auto;
    left: 0;
    // top: 65px;
    // top: 146px;
    top: 220px;
    box-shadow: 0 0 20px rgb(191 191 191 / 49%);
    z-index: 10;
    animation: slideDown 0.5s ease-out;
    // transform: translateY(-80px);
    // opacity: 0;
    @include minxins.tab-lg {
      top: 190px;
    }
    @include minxins.tab-xs {
      top: 184px;
    }
    @include minxins.mobile-sm {
      // top: 155px;
      top: 225px;
    }
    & > tr {
      & > {
        th {
          padding: 12px 12px 15px 12px;
          @include minxins.tab-lg {
            padding: 4px 1px 4px 1px;
          }
        }
      }
    }
    &:after {
      content: "";
      height: 10px;
      width: 100%;
      background-color: #ffffff;
      filter: blur(4px);
      position: absolute;
      left: 0;
      z-index: 14;
      bottom: -6px;
    }
  }
  &.loc_row {
    position: sticky;
    // top: 80px;
    top: 158px;
    z-index: 10;
    @include minxins.tab-lg {
      top: 120px;
    }
    @include minxins.tab-xs {
      top: 117px;
    }
    @include minxins.mobile-sm {
      // top: 90px;
      top: 152px;
    }
  }
}
.table-container {
  table {
    @include minxins.mobile-sm {
      table-layout: auto;
    }
  }
  &.table_scrolled {
    thead {
      &.common_accord_row {
        // transform: translateY(0);
        // opacity: 1;
        animation: slideDown 0.5s ease-out;
      }
    }
  }
}
thead th {
  @include minxins.font("Poppins", 500, 12px, var(--gray_600), 1.4);
  @include minxins.tab-lg {
    @include minxins.font("Poppins", 400, 10px, var(--gray_900), 1.4);
  }
  .MuiButtonBase-root {
    @include minxins.tab-lg {
      padding: 0;
      img {
        width: 18px;
      }
    }
  }
}
.accord_row {
  thead th {
    @include minxins.font("Poppins", 400, 12px, var(--gray_600), 1.4);
    @include minxins.tab-lg {
      @include minxins.font("Poppins", 400, 10px, var(--gray_900), 1.4);
    }
  }
  .MuiAccordionSummary-content {
    border-bottom: 1px solid var(--border);
    padding: 0px 0 10px;
  }
}
/* Nested second row of header */
thead tr:nth-child(2) th {
  top: 36px; /* height of first header row */
  z-index: 1;
}

.record-heading-cell p {
  @include minxins.font("Poppins", 600, 16px, var(--primary_blue_500), 1.458);
  width: 100%;
  max-width: 100%;
  height: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
  text-align: left !important;
  @include minxins.tab-lg {
    @include minxins.font("Poppins", 500, 14px, var(--primary_blue_500), 1.458);
  }
  @include minxins.mobile-sm {
    @include minxins.font("Poppins", 500, 12px, var(--primary_blue_500), 1.458);
  }
}
// .new_detail_section {
//   overflow-y: auto;
//   overflow-x: auto;
//   max-height: calc(100vh - 350px);
// }
.new_detail_section {
  table {
    table-layout: fixed;
  }
}
.setDate {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  h2 {
    @include minxins.font("Poppins", 600, 16px, var(--gray_700), 1.4);
    @include minxins.tab-lg {
      @include minxins.font("Poppins", 500, 14px, var(--gray_700), 1.4);
    }
  }
  @include minxins.mobile-sm {
    margin-bottom: 15px;
    display: block;
  }
}
.tableActions {
  display: flex;
  align-items: center;
  justify-content: center;
  @include minxins.tab-lg {
    gap: 10px;
  }
}
.tabsContainer {
  flex-direction: row;
  align-items: center;
  &.order_detail_tabs {
    &.tabsScrolled {
      height: 0;
      opacity: 0;
    }
  }
}
.hideSection {
  display: none !important;
  // height: 0;
  // opacity: 0;
  // animation: slowHide 0.5s ease-in-out;
}
.doalogBody {
  max-height: calc(80vh - 30px);
  overflow: auto;
  padding-right: 5px;
  &::-webkit-scrollbar {
    width: 4px;
  }
}
.order_name {
  margin-bottom: 0;
  @include minxins.mobile-sm {
    margin-bottom: 0;
  }
}
.order_name {
  .order_name_inner {
    margin: 0;
    padding: 12px;
    align-items: flex-start;
    @include minxins.tab-lg {
      min-width: 100%;
    }
  }
}
.set_name {
  position: sticky;
  top: 89px;
  z-index: 9;
}
.order_name_inner {
  .info {
    flex: 1;
    ul {
      display: flex;
      li {
        flex: 3;
        p {
          margin-bottom: 2px !important;
          &.light {
            @include minxins.font("Poppins", 400, 12px, var(--gray_500), 1.4);
            @include minxins.tab-lg {
              @include minxins.font("Poppins", 400, 11x, var(--gray_500), 1.4);
            }
          }
          &.dark {
            @include minxins.font("Poppins", 500, 12px, var(--gray_900), 1.4);
            @include minxins.tab-lg {
              @include minxins.font("Poppins", 500, 11px, var(--gray_900), 1.4);
            }
          }
        }
        &:not(:last-child):first-child {
          max-width: 70px;
          @include minxins.tab-lg {
            max-width: 40px;
          }
          p {
            text-align: left;
          }
        }
        &:nth-child(2) {
          p {
            text-align: center;
          }
        }
        &:not(:first-child):last-child {
          p {
            text-align: right;
          }
        }
      }
    }
  }
}
.schedule {
  h3 {
    @include minxins.font("Poppins", 500, 13px, var(--black), 1.4);
    @include minxins.tab-lg {
      @include minxins.font("Poppins", 500, 10px, var(--black), 1.4);
    }
  }
  p {
    @include minxins.font("Poppins", 500, 14px, var(--gray_500), 1.4);
    margin: 10px 0 !important;
    @include minxins.tab-lg {
      margin: 5px 0 !important;
    }
  }
}
.commonData {
  h3 {
    @include minxins.font("Poppins", 500, 14px, var(--black), 1.4);
  }
  .MuiGrid-container {
    margin-bottom: 10px;
  }
  p {
    margin-bottom: 1px !important;
    @include minxins.font("Poppins", 400, 14px, var(--gray_500), 1.4);
    &.small {
      @include minxins.font(
        "Poppins",
        400 !important,
        12px !important,
        var(--gray_500) !important,
        1.4
      );
    }
    &.black {
      @include minxins.font(
        "Poppins",
        600 !important,
        14px !important,
        var(--black) !important,
        1.4
      );
    }
    &.note {
      @include minxins.font(
        "Poppins",
        400 !important,
        12px !important,
        var(--gray_500) !important,
        1.4
      );
      font-style: italic;
      text-align: right !important;
    }
  }
}
.setDate {
  @include minxins.mobile-sm {
    justify-content: flex-start;
  }
}
.scroll_space {
  height: 200px;
}
.pageBody {
  &.main_order_detail {
    max-height: calc(100vh - 200px);
    overflow-y: scroll;
    overflow-x: auto;
    padding-right: 4px;
    position: relative;
    .tabs {
      margin-top: 10px;
    }
    @include minxins.mobile-sm {
      // max-height: calc(100vh - 170px);
      max-height: calc(100vh - 130px);
    }
  }
}
.main_header {
  position: sticky;
  top: 65px !important;
  z-index: 9;
}
.pageHeaderTr {
  th {
    position: sticky;
    top: 0;
    z-index: 10;
    &:first-child {
      left: 0;
    }
  }
}
.serviceTableContainer {
  position: sticky;
  top: 80px;
}
th {
  &.tr_text_left {
    text-align: left;
  }
}
.header {
  @include minxins.mobile-sm {
    min-height: auto;
    padding: 1px 0 1px 14px;
  }
}

.pageBody {
  padding-bottom: 20px;
  @include minxins.mobile-sm {
    padding-bottom: 0;
  }
  .pageHeading {
    .headings {
      h3 {
        @include minxins.mobile-sm {
          @include minxins.font("Poppins", 500, 15px, var(--gray_700), 1.5);
          text-align: left;
        }
      }
    }

    .breadCrums {
      li {
        @include minxins.mobile-sm {
          @include minxins.font(
            "Poppins",
            400,
            12px,
            var(--primary_blue_500),
            1.66
          );
        }

        &:first-child {
          @include minxins.font("Poppins", 500, 14px, var(--gray_700), 1.66);
          @include minxins.mobile-sm {
            @include minxins.font("Poppins", 400, 13px, var(--gray_700), 1.66);
          }
        }
      }
      &.breadCrums {
        li {
          @include minxins.font("Poppins", 500, 14px, var(--gray_700), 1.66);

          &:last-child {
            @include minxins.font(
              "Poppins",
              500,
              14px,
              var(--primary_blue_500),
              1.66
            );

            @include minxins.mobile-sm {
              @include minxins.font(
                "Poppins",
                400,
                13px,
                var(--gray_700),
                1.66
              );
            }
          }
          @include minxins.mobile-sm {
            @include minxins.font(
              "Poppins",
              400,
              13px,
              var(--primary_blue_500),
              1.66
            );
          }
        }
      }
    }
    .buttons {
      @include minxins.mobile-sm {
        width: 100%;
      }
      .MuiBox-root {
        @include minxins.mobile-sm {
          width: 100%;
        }
      }
    }
  }
}
.orderDetailTop {
  .topRow {
    @include minxins.mobile-sm {
      justify-content: flex-start;
      margin: 0 -10px;
    }
  }
}
.labelHeading {
  @include minxins.font(
    "Poppins",
    500 !important,
    14px !important,
    var(--gray_500),
    1.458
  );
  @include minxins.tab-lg {
    @include minxins.font(
      "Poppins",
      400 !important,
      12px !important,
      var(--gray_500),
      1.458
    );
  }
  &.black {
    @include minxins.font(
      "Poppins",
      500 !important,
      14px !important,
      var(--black),
      1.458
    );
    @include minxins.tab-lg {
      @include minxins.font(
        "Poppins",
        400 !important,
        12px !important,
        var(--black),
        1.458
      );
    }
  }
}
.labelText {
  @include minxins.font("Poppins", 400, 16px, var(--black), 1.458);
  @include minxins.tab-lg {
    @include minxins.font("Poppins", 400, 12px, var(--black), 1.458);
  }
}
.mobileContainer {
  display: none;
  @include minxins.tab-lg {
    padding-top: 100px;
    display: block;
    position: sticky;
    // top: 0;
    left: 0;
    // z-index: 9;
  }
  .pageHeading {
    position: sticky;
    top: 0;
  }
}
.pageHeadingMobile {
  display: none;
  @include minxins.tab-lg {
    display: block;
    position: fixed;
    top: 50px;
    left: auto;
    width: calc(100% - 20px);
    z-index: 9;
    background-color: var(--white);
    border-bottom: 1px solid var(--border);
    @include minxins.tab-lg {
      top: 80px;
    }
    @include minxins.tab-xs {
      top: 57px;
    }
    @include minxins.mobile-sm {
      top: 50px;
    }
  }
  // &::after {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 20px;
  //   background-color: red;
  // }
}
.desktopView {
  @include minxins.tab-lg {
    display: none;
  }
}
button {
  &.MuiButtonBase-root {
    &.MuiButton-root {
      &.showIconOnMobileOnly {
        min-height: 40px;
        .MuiButton-icon {
          display: none;
          @include minxins.tab-lg {
            display: flex;
          }
        }
      }
    }
  }
}
.header {
  .selectBranchWeb {
    @include minxins.tab-lg {
      min-width: 300px;
      max-width: 300px;
      margin: 0 auto 0 60px;
    }
  }
}

.dashboardWrapper {
  @include minxins.tab-lg {
    .pageContainer {
      padding: 15px 10px 0 10px;
    }
  }
}
.status {
  @include minxins.tab-lg {
    padding: 2px 2px 2px 2px;
    min-width: auto;
    &.completed {
      @include minxins.tab-lg {
        @include minxins.font("Poppins", 400, 10px, var(--success_500), 1.4);
      }
    }

    &.pending {
      @include minxins.tab-lg {
        @include minxins.font("Poppins", 400, 10px, var(--warning_500), 1.4);
      }
    }

    &.cancelled {
      @include minxins.tab-lg {
        @include minxins.font("Poppins", 400, 10px, var(--error_500), 1.4);
      }
    }
    &.blocked {
      @include minxins.tab-lg {
        @include minxins.font("Poppins", 400, 10px, var(--error_500), 1.4);
      }
    }
    &.active {
      @include minxins.tab-lg {
        @include minxins.font(
          "Poppins",
          400,
          10px,
          var(--primary_blue_500),
          1.4
        );
      }
    }
  }
}
.image_n_text {
  @include minxins.tab-lg {
    flex-direction: column;
    align-items: flex-start;
    min-width: auto;
  }
  .listImage {
    @include minxins.tab-lg {
      width: 30px;
      height: 30px;
      border-radius: 2px;
    }
  }
  p {
    @include minxins.tab-lg {
      margin: 0 !important;
    }
  }
}
.fixedSetNameRow {
  position: sticky;
  top: 89px !important;
  z-index: 10;
  @include minxins.tab-lg {
    top: 58px !important;
  }
  @include minxins.mobile-sm {
    top: 100px !important;
  }
  tr {
    th {
      background-color: var(--white);
      padding: 0;
      border-radius: 8px;
      text-align: left;
    }
  }
  h3 {
    @include minxins.font("Poppins", 600, 16px, var(--black), 1.4);
    @include minxins.tab-lg {
      @include minxins.font("Poppins", 600, 14px, var(--black), 1.4);
    }
    @include minxins.mobile-sm {
      @include minxins.font("Poppins", 500, 13px, var(--black), 1.4);
    }
  }
  p {
    @include minxins.font("Poppins", 600, 16px, var(--gray_700), 1.4);
    @include minxins.tab-lg {
      @include minxins.font("Poppins", 600, 14px, var(--gray_700), 1.4);
    }
    @include minxins.mobile-sm {
      @include minxins.font("Poppins", 500, 12px, var(--gray_700), 1.4);
    }
  }
  .setNameRow {
    position: relative;
    overflow: hidden;
    height: 80px;
    .setNameCartSec {
      position: absolute;
      width: 100%;
      height: auto;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      gap: 12px;
      opacity: 1;
      transform: translateY(0);
      transition: 0.5s ease-in-out all;
      // &.hide {
      //   opacity: 0;
      //   transform: translateY(-100%);
      //   transition: 0.5s ease-in-out all;
      // }
      .setDate {
        margin-left: auto;
      }
    }
    .setNameScrollSec {
      background-color: var(--white);
      // box-shadow: 0px 2px 20px 0px rgba(4, 6, 15, 0.03);
      // border: 1px solid var(--gray_200);
      padding: 17px 15px;
      border-radius: 12px;
      position: absolute;
      width: 100%;
      height: auto;
      top: 0;
      left: 0;
      opacity: 0;
      transform: translateY(100%);
      transition: 0.5s ease-in-out all;
      // &.show {
      //   opacity: 1;
      //   transform: translateY(0);
      //   transition: 0.5s ease-in-out all;
      // }
    }
  }
  &.is-stuck {
    .setNameRow {
      .setNameCartSec {
        &.hide {
          opacity: 0;
          transform: translateY(-100%);
          transition: 0.5s ease-in-out all;
        }
      }
      .setNameScrollSec {
        &.show {
          opacity: 1;
          transform: translateY(0);
          transition: 0.5s ease-in-out all;
        }
      }
    }
  }
}

.grey_bedge {
  background-color: #f2f4f7;
  border-radius: 6px;
  padding: 6px 10px;
  display: inline-block;
  margin-top: 4px;
  @include minxins.font("Poppins", 400, 16px, var(--gray_900), 1.4);
}
